name: CI
on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
jobs:
  phpunit:
    name: PHPUnit
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        php-version:
          - "7.4"
          - "8.0"
          - "8.1"
          - "8.2"
          - "8.3"
          - "8.4"
        dependency-versions:
          - "lowest"
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-version }}
          coverage: none

      - name: Install composer dependencies
        uses: ramsey/composer-install@v2
        with:
          dependency-versions: ${{ matrix.dependency-versions }}
      - name: Instalar PHPUnit compatible con PHP ${{ matrix.php-version }}
        run: |
          PHP_VERSION_MAJOR=$(echo "${{ matrix.php-version }}" | cut -d'.' -f1)
          PHP_VERSION_MINOR=$(echo "${{ matrix.php-version }}" | cut -d'.' -f2)
          
          PHPUNIT_VERSION=""
          
          if [ "$PHP_VERSION_MAJOR" -eq 7 ] || ([ "$PHP_VERSION_MAJOR" -eq 8 ] && [ "$PHP_VERSION_MINOR" -eq 0 ]); then
              PHPUNIT_VERSION="^9.6" 
          elif [ "$PHP_VERSION_MAJOR" -eq 8 ] && [ "$PHP_VERSION_MINOR" -le 1 ]; then
              PHPUNIT_VERSION="^10.5"
          elif [ "$PHP_VERSION_MAJOR" -eq 8 ] && [ "$PHP_VERSION_MINOR" -le 3 ]; then
              PHPUNIT_VERSION="^11.0"
          elif [ "$PHP_VERSION_MAJOR" -eq 8 ] && [ "$PHP_VERSION_MINOR" -eq 4 ]; then
              PHPUNIT_VERSION="^12.0"
          else
              echo "Error: Versión de PHP no soportada."
              exit 1
          fi

          echo "Instalando phpunit/phpunit:${PHPUNIT_VERSION} para PHP ${{ matrix.php-version }}"
          composer require --dev "phpunit/phpunit:${PHPUNIT_VERSION}" --no-update
          # ¡AÑADIR -W!
          composer update phpunit/phpunit --with-all-dependencies --no-ansi --no-interaction --prefer-dist --optimize-autoloader
      - name: phpstan
        uses: php-actions/phpstan@v3
        with:
          path: lib/
          php_version: ${{ matrix.php-version }}
          command: --version
          level: 2
          php_extensions: xdebug
      - name: Run Mockoon CLI
        uses: mockoon/cli-action@v1
        with:
          version: '6.0.1'
          data-file: 'https://raw.githubusercontent.com/conekta/openapi/main/mocks/conekta_api.json'
          port: 3000
      - name: Run PHPUnit
        run: vendor/bin/phpunit
        env:
          BASE_PATH: localhost:3000
